{% extends 'base.html' %}

<!-- Connect scripts for building chart -->
{% block char_script %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" id="chart_js" src="{{ url_for('static', filename='js/plot_chart.js') }}"
            data="{{ data }}"></script>
{% endblock %}

{% block content %}
    <!-- Div block with chart -->
    {% if display_grapth %}
        <div id="line_top_x"></div>
    {% endif %}

    <div class="row mt-2">
        <div class="col-md-12">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </div>

    <!-- Form for adding new rate -->
    <div class="p-4">
        <form action="" method="POST" novalidate>
            {{ form.hidden_tag() }}
            <tr>
                <td align="right">{{ form.date.label }}</td>
                <td class="right-td" align="left">{{ form.date(class_="form-control m-2", required=form.date.flags.required) }}</td>
            </tr>
            <tr>
                <td align="right">{{ form.rate_uah_to_usd.label }}</td>
                <td class="right-td" align="left">{{ form.rate_uah_to_usd(class_="form-control m-2", min=0, required=form.rate_uah_to_usd.flags.required) }}</td>
            </tr>
            <tr>
                <td></td>
                <td class="right-td" align="center">
                    <table class='buttons'>
                        <tr>
                            <td>{{ form.add_btn(class_="btn btn-dark m-2") }}</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </form>
    </div>
{% endblock %}
